@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-white text-black;
}

body.dark {
    @apply bg-black text-white;
}

html {
    scroll-behavior: smooth;
  }

.porto__card {
    @apply border py-8 px-3 flex items-center justify-center rounded-lg text-2xl font-bold font-sans text-black dark:text-white
}

.porto__card {
    background: linear-gradient(45deg, #6F57E3, #0E17EB);
    filter: grayscale(1);
    transition: background 0.5s ease, filter 0.5s ease;
}

.porto__card:hover {
    background: linear-gradient(160deg, #6F57E3, #8552a1);
    filter: grayscale(0);
}
